/* korunky do stromu */
.coin {
  background-image: url(coin.PNG);
  width: 16px;
  height: 16px;
    overflow: hidden;

  font-family: arial;
  font-size: 11px;
  font-weight: bolder;
}

.coin .text {
  color: rgb(153,51,102);
  position: relative;

  width:14px;
  height: 14px;

  overflow: hidden;
  text-align: center;

  top: -13px;
  left: 0px;

}

.coin .shadow {
  color: rgb(134,134,134);
  position: relative;

  width:14px;
  height: 14px;
  overflow: hidden;
  text-align: center;

  top: 2px;
  left: 1px;
}
